div#background {
    width: 1200px;
    height: 800px;
    background-image: url('assets/background.png');
    position: absolute;
}
div#edge-left{
    position: absolute;
    top:0px;
    left:0px;
    min-width: 100px;
    min-height: 799px;
    background-color: gray;
    opacity: .2;
    z-index: 1000;
}
div#edge-right{
    position: absolute;
    top:0px;
    right:0px;
    min-width: 100px;
    min-height: 799px;
    background-color: gray;
    opacity: .2;
    z-index: 1000;
}
div#lives{
    position: absolute;
    top:10px;
    left:100px;
    color:white;
    color: white;
    font-size: xx-large;
}
div#speed{
    position: absolute;
    top:10px;
    left:750px;
    color: white;
    font-size: xx-large;
}
div#level{
    position: absolute;
    top:10px;
    left:500px;
    color: white;
    font-size: xx-large;
}
div#score{
    position: absolute;
    top:10px;
    left:1000px;
    color: white;
    font-size: xx-large;
}

div#hero {
    width: 50px;
    height: 50px;
    background-image: url('assets/hero.png');
    position: absolute;
    left: 575px;
    top: 700px;
}
div#ship {
    width: 100px;
    height: 50px;
    background-image: url('assets/ship.png');
    position: absolute;
}

div#missiles {
    width: 1200px;
    height: 800px;
    position: absolute;
}

div.missile1 {
    width: 10px;
    height: 28px;
    background-image: url('assets/missile1.png');
    position: absolute;
}

div#enemies {
    width: 1200px;
    height: 800px;
    position: absolute;
}

div.enemy {
    width: 50px;
    height: 50px;
    background-image: url('assets/enemy.png');
    position: absolute;
}
